<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{global.baseUrl}">
  <title>{head.title} | {global.appName}</title>
  <meta name="descripion" content="{head.descripion}">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- Static Assets -->
  <link type="image/x-icon" rel="icon" href="favicon.ico">

  <script type="text/javascript" src="public/app.js"></script>

  <link rel="stylesheet" type="text/css" href="public/app.css" />

</head>

<body class="{body.class}">
  <!-- Page Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <!-- Logo -->
      <a class="logo" href="/">
        <img src="public/fav.png" alt="logo"/>
      </a>
      <!-- Navigation -->
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="loggedOut">
          <a href="/account/create">Signup</a>
        </li>
        <li class="loggedOut">
          <a href="/session/create">Login</a>
        </li>
        <li class="loggedIn">
          <a href="/checks/all">Dashboard</a>
        </li>
        <li class="loggedIn">
          <a href="/account/edit">Account Settings</a>
        </li>
        <li class="loggedIn">
          <a href="#" id="logoutButton">Logout</a>
        </li>
      </ul>
    </div>

    <!-- Page-Specific Content -->
    <div class="content">
